/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';
@theme {
  --color-background: #0a0e17;
  --color-primary: #135bec;
  --color-primary-dark: #162240;
  --color-danger: #912430;
  --color-danger-dark: #2c202f;
  --color-success: #10b981;
  --color-success-dark: #162c35;
  --color-muted: #94a3b8;
  --color-muted-dark: #1e293b;
  --color-card-background: #161c2d;
}
ng-icon {
  font-size: 50px;
}
.ng-pencil {
  color: red;
}
